body{
  background-color:#f5f5f5;
  color:#313131;
  font-family:"Roboto",sans-serif;
  display:flex;
  justify-content:center;
  align-items: center;
  height:100vh;
}
.input-group{
  position : relative;
  margin : 2rem 0;
}
form{
  background-color:#FFF;
  padding : 1rem 1.2rem;
  box-shadow: .2px 2px 12px rgba(0,0,0,.2);
  border-radius: 1rem;
  text-shadow : .4px .4px 5px rgba(0,0,0 .2)
}
form h2{
  text-align: center;
  font-weight: 400;
  user-select: none;/* không cho tiếp xúc vào dòng chữ */
  
}
form input{
  display: block;
  margin : 0 auto;
  border : none;
  border-bottom : 1px solid #0f43f9;
  outline: none;
  padding: 6px 4px;
}
form label{
  position : absolute;
  left: 12px;
  top : 4px;
  font-weight: 300;
  font-size:15px;
  color: gray;
  pointer-events: none;/* không ảnh hưởn đến chữ chỉ ảnh hưởng đến input */
  transition: 200ms;
  }
input:focus + label , input:valid +label {
  top:-14px;
  left: 8px;
  font-size: 14px;
  color: dodgerblue;
}
form button {
 background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%); ;
  padding : .5rem 1rem;
  border: none;
  border-radius: 2rem;
  width: 100%;
  color: #FFF;
  cursor: pointer;/* khi trỏ chuột vào sẽ là hình bàn tay */
  transition: 200ms;
  outline: none;
  box-shadow : .2px 2px 12px rgba(0,0,0,.3)
}
form p{
  font-weight: 300;
  font-size: 14px;
  margin-top: 2rem;
}
form p a {
  color: inherit;/* là màu kế thừa với thằng p là thằng cha */
}




