.menu{
	padding: 0px;
	margin: 0px;
	display : flex;
	list-style: none;
	font-family: sans-serif;
}
.menu li{
	padding: 8px 16px;
}
.menu li:hover{
	background-color: #DDD;
}
.has-submenu{
	position: relative;
}

.submenu{
	list-style: none;
	padding : 0px;
	position: absolute;
	display: none;
}
.has-submenu:hover .submenu{
	display: block;
}